.panel {
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    visibility: visible;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.title {
    align-items: center;
}
